# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# Byte-compiled / optimized / DLL files
*.pyd
*.pdb

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Node modules (if any)
node_modules/
